@{
    ViewBag.Title = "Home Page";
}


    <div class="container" style="padding: 15px;">
        <div class="row">
            <div class="col-sm-3">
                <button type="button" class="btn btn-primary btn-block">Calculators</button>
                <h3>Time</h3>
                <a href='@Url.Action("AgeDifferenceCalculator", "Calculators")'>Age Difference Calculator</a><br />
                <a href='@Url.Action("About", "Home")'>Days Calculator</a><br />

                <h3>Math</h3>
                <a href='@Url.Action("About", "Home")'>Factorial Calculator</a><br />
                <a href='@Url.Action("About", "Home")'>Percentage Calculator</a><br />
            </div>
            <div class="col-sm-3"><button type="button" class="btn btn-primary btn-block">Convertors</button></div>
            <div class="col-sm-3"><button type="button" class="btn btn-primary btn-block">Calculators</button></div>
            <div class="col-sm-3">.col-sm-3</div>
        </div>
    </div>

