
@{
    ViewBag.Title = "AgeDifferenceCalculator";
}

<h2>Age Difference Calculator</h2>

<div class="container">
    <div class="form-group bg-info table-bordered col-sm-8">
        <label for="example-text-input" class="col-2 col-form-label">Birth Date 1</label>
    </div>
        
</div>


